.navbar-brand {
    color: yellow;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: 600;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

p,
div {
    font-family: 'Source Sans Pro' !important;
}

#Head {
    cursor: pointer;
}